<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>123</title>
    </head>
    <body>
{% if form.errors %}
<!-- Error messaging -->
<div id="errors">
    <div class="inner">
        <p>There were some errors in the information you entered. Please correct the following:</p>
        {{ form.non_field_errors }}
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
<!-- /Error messaging -->
{% endif %}
<form class="site-form" action="{% url 'upload' %}" method="post" autocomplete="off" enctype="multipart/form-data">
{% csrf_token %}
<div class="foo2">File</div>
{{ form.ipfs_file }}
<input type="submit" class="btn" value="Upload">
    </body>
</html>
